BasedOnStyle: Google
Standard: c++17
SortIncludes: false
IndentWidth: 4
SortUsingDeclarations: false
SpacesBeforeTrailingComments: 2
IncludeBlocks: Preserve
AccessModifierOffset: -4
ReflowComments: true
ColumnLimit: 100
AlignAfterOpenBracket: Align
BreakBeforeBraces: Allman
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: true
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false